.first {
    height:1440px;
    width: 945x;
    background-color:  #FFCD9E;
    position: relative;
   }

.second {
    /* height: 1440px;
    width: 945px;
  
    height: 298px;
    top: 592px;
    background-color:  #0c0906;
    
   } */


   height: 1440px;
   width: 600px;
   height: 298px;
   top: 592px;
   background-color: #0c0906;
}


   
.third {
    width: 3.26px;
    height: 6.66px;
    top: 212.32px;
    left: 295.98px;
    background: #100F0D;
    
    
    
    
    
    
    
    



}